{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="info">
        <p>Information</p>
        <ul class="item-list">
            <li>zabbix api: {{ user.userprofile.get_zabbix_version }}</li>
            <li>zabbix user: {{ user.userprofile.get_zabbix_user }}</li>
        </ul>
    </div>
    <div class="info">
        <p>Actions</p>
        <ul class="item-list">
            <li><a href="">{% trans "Create project" %}</a></li>
            <li><a href="">{% trans "Create hostgroup" %}</a></li>
            <li><a href="">{% trans "Create host" %}</a></li>
        </ul>
    </div>
{% endblock %}